// Заголовки, общие БЄМ блоки и проче...

.app-text {
	@extend %ff-mont;
	font-weight: 700;
	font-size: 35px;
	@include adaptiveValue("font-size", 35, 24);
	line-height: 200%; /* 70/35 */
	text-transform: uppercase;
}

//==========================================================================================================================

.title {
	@extend %ff-mont;
	font-weight: 700;
	@include adaptiveValue("font-size", 51, 24);
	line-height: 121.568627%; /* 62/51 */
}
